<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    {% block body %}
    <form action="./create" method="POST">
      <input type="text" name="name" placeholder="Enter name"><br>
      <input type="text" name="description" placeholder="Enter description"><br>
      <input type="number" step="0.01" name="weight" placeholder="Enter weight"><br>
      <input type="number" name="calories" placeholder="Enter calories"><br>
      <input type="number" step="0.01" name="price" placeholder="Enter price"><br>
      <input type="submit" value="Create meal">
    </form>
    {% endblock %}
  </body>
</html>
