<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        console.log($("input[name=file]").val());

        $("#limit").change(function() {
          $.ajax({
            type: "GET",
            url: "http://localhost:5000/api/meals?limit=" + ~~$("#limit").val(),
            processData: true,
            success: function(data, status, xhrStatus) {
              $(".meal-container").empty();

              $('#prev-page').prop('disabled', true);
              if (data['_meta']['total_pages'] == 1) {
                $('#next-page').prop('disabled', true);
              }
              else {
                $('#next-page').prop('disabled', false);
              }

              $("#txtPage").val(data['_meta']['page']);
              $("#txtTotal").val(data['_meta']['total_pages']);

              data['items'].forEach((item) => {
                createMealView(item);
              });
            },
            error: function(xhrStatus, status, error) {
              alert("An error occured");
            }
          });
        })

        $.ajax({
          type: "GET",
          url: "http://localhost:5000/api/meals?limit=" + ~~$("#limit").val(),
          processData: true,
          success: function(data, status, xhrStatus) {
            $('#prev-page').prop('disabled', true);
            if (data['_meta']['total_pages'] == 1) {
              $('#next-page').prop('disabled', true);
            }

            $("#txtPage").val(data['_meta']['page']);
            $("#txtTotal").val(data['_meta']['total_pages']);

            data['items'].forEach((item) => {
              createMealView(item);
            });
          },
          error: function(xhrStatus, status, error) {
            alert("An error occured");
          }
        });

        $("#next-page").click(function() {
          var page = ~~$("#txtPage").val();
          var totalPages = ~~$("#txtTotal").val();
          var nextPage = page + 1;
          var limit = ~~$("#limit").val();

          console.log("nextPage = " + nextPage);
          console.log("limit = " + limit);

          if (nextPage == totalPages) {
            $('#next-page').prop('disabled', true);
          }
          if (nextPage <= totalPages) {
            $('#prev-page').prop('disabled', false);

            $.ajax({
              type: "GET",
              url: "http://localhost:5000/api/meals?page=" + nextPage + "&limit=" + limit,
              processData: true,
              success: function(data, status, xhrStatus) {
                totalPages = Math.ceil(data['_meta']['total_items'] / limit);

                console.log(totalPages);
                $("#txtTotal").val(totalPages);

                $(".meal-container").empty();
                $("#txtPage").val(nextPage);

                console.log(data);
                console.log(data['items']);
                // create html element for each item in data['items']

                data['items'].forEach((item) => {
                  createMealView(item)
                });
              }
            });
          }
        });

        $("#prev-page").click(function() {
          var page = ~~$("#txtPage").val();
          var totalPages = ~~$("#txtTotal").val();
          var prevPage = page - 1;
          var limit = ~~$("#limit").val();

          console.log("prevPage = " + prevPage);

          if (prevPage == 1) {
            $('#prev-page').prop('disabled', true);
          }
          if (prevPage >= 1) {
            $('#next-page').prop('disabled', false);

            $.ajax({
              type: "GET",
              url: "http://localhost:5000/api/meals?page=" + prevPage + "&limit=" + limit,
              processData: true,
              success: function(data, status, xhrStatus) {
                totalPages = Math.ceil(data['_meta']['total_items'] / limit);

                console.log(totalPages);
                $("#txtTotal").val(totalPages);

                $(".meal-container").empty();
                $("#txtPage").val(prevPage);

                console.log(data);
                console.log(data['items']);
                // create html element for each item in data['items']

                data['items'].forEach((item) => {
                  createMealView(item)
                });
              }
            });
          }
        });

        $(document).on("click", ".delete", function(button) {
          var meal_id = $(this).val();
          console.log(meal_id);

          $.ajax({
            type: "DELETE",
            url: "http://localhost:5000/api/meals/" + meal_id,
            success: function(data, status, xhrStatus) {
              console.log(meal_id + 'successfully deleted!');
              location.reload();
            },
            error: function(xhrStatus, status, error) {
              alert(JSON.stringify(xhrStatus));
            }
          });
        })
      });

      function showImage(path){
        $('<img src="'+ path +'">').on('load', function() {
          $(this).appendTo(".meal-container");
        });
      }

      function createMealView(item) {
        var path = '/static/images/' + item['image'];
        console.log(path);
        var meal = $("<div></div>");
        meal.append('<h1>' + item['name'] + '</h1>');
        meal.append('<p> description: ' + item['description'] + '</p>');
        meal.append('<p> weight: ' + item['weight'] + '</p>');
        meal.append('<p> calories: ' + item['calories'] + '</p>');
        meal.append('<p>price: ' + item['price'] + '</p>');
        meal.append('<img src="' + path + '" >');;
        showImage(path);
        meal.append('<a href="/update?oldmeal_id=' + item['id'] + '"><button type="button" class="update">Update</button></a>');
        meal.append('<button type="button" class="delete" value=' + item['id'] + '>Delete</button>');
        console.log(meal);
        $(".meal-container").append(meal);
      }

    </script>

  </head>
  <body>
    {% block body %}
    <h1>Menu</h1>
    <a href="{{ url_for('create') }}"><button type="button" name="button">Create meal</button></a>

    <div class="meal-container">

    </div>

    <br><br>
    <button type="button" name="button" id="prev-page">Prev</button>

    <input type="text" id="txtPage" disabled="true" style="width: 20px;" />
      <span>of</span>
    <input type="text" id="txtTotal" disabled="true" style="width: 20px;" />

    <button type="button" name="button" id="next-page">Next</button>

    <select name="limit" id="limit">
      <option value="1">1</option>
      <option value="3">3</option>
      <option selected value="5">5</option>
    </select>

    {% endblock %}
  </body>
</html>
