<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {% block body %}
    <h1>Menu</h1>
    <a href="{{ url_for('create') }}"><button type="button" name="button">Create meal</button></a>

    <select name="limit">
      <option value="1">1</option>
      <option value="3">3</option>
      <option value="5">5</option>
    </select>

    {% for meal in meals %}
      <h2>{{meal.name}}</h2>
      <p>
        {{meal.description}}<br>
        {{meal.weight}}<br>
        {{meal.calories}}<br>
        {{meal.price}}<br>
      </p>

      <form action="./delete" method="POST">
        <input type="hidden" name="name" value="{{meal.name}}">
        <input type="submit" value="Delete">
      </form>

      <a href="{{ url_for('update', oldmeal_id = meal.meal_id ) }}"><button type="button" name="button">Update meal</button></a>
    {% endfor %}
    <br><br>
    {% if prev_url %}
      <a href="{{ prev_url }}"><button type="button" name="button">More expensive meals</button></a>
    {% endif %}

    {% if next_url %}
      <a href="{{ next_url }}"><button type="button" name="button">Less expensive meals</button></a>
    {% endif %}

    {% endblock %}
  </body>
</html>
