<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update</title>
  </head>
  <body>
    {% block body %}
      <form action="./update_form" method="POST">
        <input type="hidden" name="oldname" value="{{oldmeal.name}}">
        <input type="text" name="newname" placeholder="{{oldmeal.name}}"><br>
        <input type="text" name="newdescription" placeholder="Enter description"><br>
        <input type="number" step="0.01" name="newweight" placeholder="Enter weight"><br>
        <input type="number" name="newcalories" placeholder="Enter calories"><br>
        <input type="number" step="0.01" name="newprice" placeholder="Enter price"><br>
        <input type="submit" value="Update meal">
      </form>
    {% endblock %}
  </body>
</html>
