<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update</title>
  </head>
  <body>
    {% block body %}
      <form action="./update_form" method="POST">
        <input type="text" name="newname" value="{{oldmeal.name}}"><br>
        <input type="text" name="newdescription" value="{{oldmeal.description}}"><br>
        <input type="number" step="0.01" name="newweight" value="{{oldmeal.weight}}"><br>
        <input type="number" name="newcalories" value="{{oldmeal.calories}}"><br>
        <input type="number" step="0.01" name="newprice" value="{{oldmeal.price}}"><br>
        <button type="submit" name="btn" value="{{oldmeal.meal_id}}">Update</button>
      </form>
    {% endblock %}
  </body>
</html>
